In [1]:
import os, re
import pandas as pd
from pandas import DataFrame
from numpy import array, sort, argsort, zeros, floor
from openpyxl import load_workbook
import glob

In [2]:
path='../result_rf/unbal/*.csv'

In [3]:
dfl=[]    
files = glob.glob(path)
for a in files:
    try:
        dfl.append(pd.read_csv(a,sep=';'))
    except pd.errors.EmptyDataError:
        print('arquivo vazio!',a)

In [4]:
dfl[0]

,instance,NR,NT,NW,capacity,balanced,fixsizerf,freeintervalrf,maxtimerf,bestsol,elapsedtime
0,instances/N50T15/N50T15P1W15DD_SF4.dat,50,15,15,1.75,0,2,3,120,4.922878e+05,16.211323
1,instances/N50T15/N50T15P1W20SD_SF1.dat,50,15,20,1.75,0,2,3,120,6.263848e+05,46.492347
2,instances/N50T30/N50T30P1W5SD_DF3.dat,50,30,5,1.75,0,2,3,120,8.166814e+05,9.827481
3,instances/N50T30/N50T30P1W10DD_DF10.dat,50,30,10,1.75,0,2,3,120,9.098650e+05,15.092117
4,instances/N100T15/N100T15P1W5DD_SF5.dat,100,15,5,1.75,0,2,3,120,4.420728e+05,8.605252
5,instances/N100T15/N100T15P1W10SD_SF9.dat,100,15,10,1.75,0,2,3,120,6.006312e+05,23.732727
6,instances/N100T30/N100T30P1W10SD_DF6.dat,100,30,10,1.75,0,2,3,120,1.025506e+06,57.289105
7,instances/N100T30/N100T30P1W20DD_SF9.dat,100,30,20,1.75,0,2,3,120,1.119456e+06,76.453034
8,instances/N200T30/N200T30P1W5SD_SF9.dat,200,30,5,1.75,0,2,3,120,1.244753e+06,84.884309
9,instances/N200T30/N200T30P1W15DD_DF1.dat,200,30,15,1.75,0,2,3,120,1.261567e+06,100.985134

In [5]:
for a in range(len(dfl)):
    dfl[a]=dfl[a].append({'instance':'dfl'+str(a),'capacity':dfl[a].iloc[0]['capacity'],'balanced':dfl[a].iloc[0]['balanced'],'fixsizerf':dfl[a].iloc[0]['fixsizerf'],'freeintervalrf':dfl[a].iloc[0]['freeintervalrf'],'maxtimerf':dfl[a].iloc[0]['maxtimerf'],'bestsol':dfl[a]['bestsol'].mean(),'elapsedtime':dfl[a]['elapsedtime'].mean()}, ignore_index= True)

In [6]:
dfl[0]

,instance,NR,NT,NW,capacity,balanced,fixsizerf,freeintervalrf,maxtimerf,bestsol,elapsedtime
0,instances/N50T15/N50T15P1W15DD_SF4.dat,50.0,15.0,15.0,1.75,0,2,3,120,4.922878e+05,16.211323
1,instances/N50T15/N50T15P1W20SD_SF1.dat,50.0,15.0,20.0,1.75,0,2,3,120,6.263848e+05,46.492347
2,instances/N50T30/N50T30P1W5SD_DF3.dat,50.0,30.0,5.0,1.75,0,2,3,120,8.166814e+05,9.827481
3,instances/N50T30/N50T30P1W10DD_DF10.dat,50.0,30.0,10.0,1.75,0,2,3,120,9.098650e+05,15.092117
4,instances/N100T15/N100T15P1W5DD_SF5.dat,100.0,15.0,5.0,1.75,0,2,3,120,4.420728e+05,8.605252
5,instances/N100T15/N100T15P1W10SD_SF9.dat,100.0,15.0,10.0,1.75,0,2,3,120,6.006312e+05,23.732727
6,instances/N100T30/N100T30P1W10SD_DF6.dat,100.0,30.0,10.0,1.75,0,2,3,120,1.025506e+06,57.289105
7,instances/N100T30/N100T30P1W20DD_SF9.dat,100.0,30.0,20.0,1.75,0,2,3,120,1.119456e+06,76.453034
8,instances/N200T30/N200T30P1W5SD_SF9.dat,200.0,30.0,5.0,1.75,0,2,3,120,1.244753e+06,84.884309
9,instances/N200T30/N200T30P1W15DD_DF1.dat,200.0,30.0,15.0,1.75,0,2,3,120,1.261567e+06,100.985134
10,dfl0,NaN,NaN,NaN,1.75,0,2,3,120,8.539205e+05,43.957283

In [7]:
resumedf = pd.DataFrame(columns = ['instance','NR','NT','NW','capacity','balanced','fixsizerf','freeintervalrf','maxtimerf','bestsol','elapsedtime'])

In [8]:
for a in range(len(dfl)):
    resumedf=resumedf.append(dfl[a].iloc[10], ignore_index= True)

In [9]:
resumedf

,instance,NR,NT,NW,capacity,balanced,fixsizerf,freeintervalrf,maxtimerf,bestsol,elapsedtime
0,dfl0,NaN,NaN,NaN,1.75,0,2,3,120,853920.461957,43.957283
1,dfl1,NaN,NaN,NaN,2.00,0,4,3,120,769311.223195,51.900475
2,dfl2,NaN,NaN,NaN,2.00,0,3,4,120,769367.391640,58.810715
3,dfl3,NaN,NaN,NaN,1.75,0,4,4,120,852913.327725,63.201091
4,dfl4,NaN,NaN,NaN,1.75,0,2,2,120,853364.211579,27.797546
5,dfl5,NaN,NaN,NaN,1.75,0,3,3,120,851424.244470,50.191904
6,dfl6,NaN,NaN,NaN,1.75,0,3,4,120,852248.117888,62.534043
7,dfl7,NaN,NaN,NaN,1.75,0,3,2,120,855470.581506,37.480232
8,dfl8,NaN,NaN,NaN,1.50,0,4,4,120,921533.104166,67.856052
9,dfl9,NaN,NaN,NaN,1.50,0,2,2,120,926462.072057,31.636778
10,dfl10,NaN,NaN,NaN,1.50,0,2,3,120,925657.006764,50.776143
11,dfl11,NaN,NaN,NaN,1.50,0,3,4,120,924321.364135,62.917571
12,dfl12,NaN,NaN,NaN,2.00,0,4,4,120,769889.388700,59.265752
13,dfl13,NaN,NaN,NaN,2.00,0,2,3,120,770121.979410,42.566300
14,dfl14,NaN,NaN,NaN,1.75,0,2,4,120,852844.461871,53.495880
15,dfl15,NaN,NaN,NaN,1.50,0,2,4,120,925224.339638,62.699947
16,dfl16,NaN,NaN,NaN,1.50,0,4,2,120,923876.538187,47.122816
17,dfl17,NaN,NaN,NaN,1.75,0,4,2,120,852530.591544,49.951645
18,dfl18,NaN,NaN,NaN,1.50,0,3,3,120,925086.142095,50.647549
19,dfl19,NaN,NaN,NaN,2.00,0,2,4,120,771887.107892,53.894226
20,dfl20,NaN,NaN,NaN,2.00,0,3,2,120,768463.374452,32.227849
21,dfl21,NaN,NaN,NaN,1.50,0,3,2,120,924534.743233,43.074954
22,dfl22,NaN,NaN,NaN,1.50,0,4,3,120,924176.446925,58.237157
23,dfl23,NaN,NaN,NaN,2.00,0,4,2,120,769891.418305,41.584341
24,dfl24,NaN,NaN,NaN,2.00,0,2,2,120,773657.334203,25.870818
25,dfl25,NaN,NaN,NaN,2.00,0,3,3,120,769208.170141,48.024846
26,dfl26,NaN,NaN,NaN,1.75,0,4,3,120,852080.013615,54.679044

In [10]:
writer = pd.ExcelWriter('result_unbal.xlsx', engine='xlsxwriter')

In [11]:
for a in range(len(dfl)):
    dfl[a].to_excel(writer, sheet_name = 'dfl'+str(a))

resumedf.to_excel(writer, sheet_name = 'resume')

writer.save()